<%- include('partials/header') -%>
<%- include('partials/loggedInNav') -%>


<div class="hero min-h-screen" style="background-image: url('https://images.unsplash.com/photo-1670960058964-79063a8ecc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');">
  <div class="hero-overlay bg-opacity-20"></div> 
  <div class="hero-content text-center text-neutral-content">

<div class="container border border-primary bg-white text-dark">

  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>

       <!-- comments -->
       <div class="mt-5">
        <h2>Comments</h2>
        <form action="/comment/createComment/<%=post._id%>" method="POST">
          <div class="mb-3">
              <label for="comment" class="form-label">Add a comment</label>
              <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <ul>
        <% for(var i = 0; i < comments.length; i++) { %>
          <li class="col-6 justify-content-between mt-5 border-2">
            <%= comments[i].comment %>
          </li>
        <% } %>
      </ul>

    </div>
    <div class="col-3 mt-5 ml-4 postdetailsdiv border-3">
      <h3>Vacation Posted by:</h3>
      <p><%= user.userName %></p>
      <br>
      <p><%= post.details %></p>
      <br>
      <p>Days: <%= post.days %> </p>
      <br>
      <p>Price: $<%= post.price %> </p>
      <br>
      <p>Price per day: $<%= (post.price/post.days).toFixed(2) %> </p>
      <br>

    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>
</div>
</div>

<%- include('partials/footer') -%>