<%- include('partials/header') -%>
<%- include('partials/loggedInNav') -%>
<div class="hero min-h-screen" style="background-image: url('https://images.unsplash.com/photo-1670960058964-79063a8ecc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');">
  <div class="hero-overlay bg-opacity-20"></div> 
  <div class="hero-content text-center text-neutral-content">

    <div class="container border border-primary bg-white text-dark rounded">
      <div class="row my-3 mx-2">


          <div class="col-6 border">
              <div>
                  <p>Hi <%= user.userName %>!</p>
                  <p> Not <%= user.userName %>? Log out here: </p>
                  <a href="/logout" class="col-4 btn btn-primary">Logout</a>
              </div>
              <div class="mt-5">
                <h2>Add a Vacation</h2>
                <br>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                  <div class="mb-3">
                      <label for="title" class="form-label">Location</label>
                      <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="mb-3">
                    <label for="days" class="form-label">Days</label>
                    <input type="number" class="form-control" id="days" name="days">
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Total Price in $</label>
                  <input type="number" class="form-control" id="price" name="price">
              </div>
                  <div class="mb-3">
                    <label for="details" class="form-label">Details</label>
                    <textarea class="form-control" id="details" name="details"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="imgUpload" class="form-label">Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                  </div>
                  <button type="submit" class="btn btn-outline-success" value="Upload">Submit</button>
                </form>
              </div>
          </div>


          <div class="col-6 border">
                <div class="row justify-content-center px-5 py-3">
                  <a class="btn btn-primary" href="/feed">Go to Feed</a>
                </div> 

                <div class = "">
                    <ul class=" list-unstyled ">
                      <h2>Feed Preview:</h2>
                      
                        <li class="mt-3 ">

                          <a href="/post/<%=feed[feed.length-1]._id %>">
                            <img class="img-fluid" src="<%= feed[feed.length-1].image %>">
                            <p><%= feed[feed.length-1].title %> </p>
                            <p><%= feed[feed.length-1].days %> day trip</p>
                            <p>Price per day: $<%= (feed[feed.length-1].price/feed[feed.length-1].days).toFixed(2) %> </p>
                          </a>

                        </li>

                        <li class="mt-2">

                           <a href="/post/<%=feed[feed.length-2]._id %>">
                            <img class="img-fluid" src="<%= feed[feed.length-2].image %>">
                            <p><%= feed[feed.length-2].title %> </p>
                            <p><%= feed[feed.length-2].days %> day trip</p>
                            <p>Price per day: $<%= (feed[feed.length-2].price/feed[feed.length-2].days).toFixed(2) %> </p>
                          </a>
                        </li>
                    </ul>
                </div>
                 
          </div> 
          
          

      </div>
    </div>
  </div>


</div>

<%- include('partials/footer') -%>