<%- include('partials/header') -%>
<%- include('partials/loggedInNav') -%>
<div class="hero min-h-screen" style="background-image: url('https://images.unsplash.com/photo-1670960058964-79063a8ecc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');">
  <div class="hero-overlay bg-opacity-20"></div> 
  <div class="hero-content text-center text-neutral-content">

<div class="container border border-primary bg-white text-dark">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p>Hi <%= user.userName %></p>
              <p> not <%= user.userName %>? Log out here: </p>
              <a href="/logout" class="col-4 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="days" class="form-label">Days</label>
                <input type="number" class="form-control" id="days" name="days">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Total Price in $</label>
              <input type="number" class="form-control" id="price" name="price">
          </div>
              <div class="mb-3">
                <label for="details" class="form-label">Details</label>
                <textarea class="form-control" id="details" name="details"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
          <h2>Feed:</h2>
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Go to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>


</div>
</div>
<%- include('partials/footer') -%>